@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProBook.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProHeavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProBookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProMediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProHeavyItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
  font-family: "Avenir LT Pro", sans-serif;
    line-height: 1.6;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 70px;

  }

  :root {
    --primary-black: #000000;
    --primary-white: #FFFFFF;
    --primary-blue: #0266D9;
    --primary-violet: #111FA2;

  }


  @media (max-width: 900px) {

    .container {
      padding: 0px 20px;
    }
}